.mainBox{
  width: 1081px;
  padding: 20px;
  border: 1px solid #eeeeee;
  margin: 20px 0 0 20px;
  header {
    width:100%;
    white-space: nowrap;
  }
  nav, h5{
    display: inline-block;
  }
}
.mainBox h5{
  font-size: 16px;
  width:40%;
}
.mainBox nav {
  width:60%;
  ul{
  list-style: none;
  display: inline-block;
  display:flex;
    a{
      text-decoration: none;
      color: @text-color;
    }
    li{
      padding-right: 25px;
    }
  }
}
.group{
  width: 50%;
  h6{
    font-size: 12px;
  }
}
